.container{
    max-width:80%;
    max-width:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 auto;
    height: auto;
    padding: 20px;
    padding-top: 30px;
}

.content_grid3{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 30px;
}
.box{
    /* position: relative;
    transition: 0.5s; */
    background-color: var(--primaryBackground);
    border-radius: 20px;
}

.img{
width: 100%;
}
.text{
padding: 10px 30px;
}
@media screen and (max-width: 768px) {
    .box{
        width:300px;
    }
    .content_grid3{
    grid-template-columns: repeat(2,1fr);
    }
}